[Unit]
Description=Docker-gen Service
After=nginx.service
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=/usr/local/bin/docker-gen -only-published -watch -notify /etc/docker-gen/update.sh /etc/docker-gen/nginx.tmpl /etc/nginx/sites-available/docker
Restart=always

[Install]
WantedBy=multi-user.target
