[Unit]
Description=Docker-gen Service
After=nginx.service
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=/usr/local/bin/docker-gen -config /etc/docker-gen/docker-gen.conf
Restart=always

[Install]
WantedBy=multi-user.target
